.btn {
  display: inline-block;

  padding: 1.1em 2.1em;

  color: $textColor;
  background-color: $primary;
  text-decoration: none;

  border: none;
  border-radius: 2.5em;
  outline: none;
  cursor: pointer;

  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;

  line-height: 1.1;

  transition: background-color 0.2s linear;

  &--red {
    background-color: $red;
    box-shadow: 0 7px 17px -10px rgba($red, .2);

    &:hover {
      background-color: darken($red, 5%);
    }
  }

  &--blue {
    background-color: $blue;
    box-shadow: 0 7px 17px -10px rgba($blue, .2);

    &:hover {
      background-color: darken($blue, 5%);
    }
  }
}