.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 1.5rem;
}

.profile__avatar {
  display: block;
  position: relative;
  
  width: 100px;
  height: 100px;

  margin-bottom: 2rem;

  border: 2px solid #fff;
  border-radius: 100%;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
}

.profile__name {
  font-size: 1.8rem;
}

.profile__prof {
  font-size: 1.4rem;
  font-weight: 300;
  color: #dedede;
}

.profile__text {
  margin: 3rem 0;
  padding: 3rem 0;

  font-size: 1.2rem;
  text-align: center;

  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
}