<aside class="sidebar">
  <div class="sidebar__header">
    <img src="assets/images/sidebar/sidebar-header.jpg" alt="sidebar-header">
  </div>
  <div class="sidebar__content">
    <div class="profile">
      <img class="profile__avatar" src="assets/images/sidebar/profile-avatar.jpg" alt="avatar">
      <div class="profile__name">Александр Семеновский</div>
      <div class="profile__prof">Junior web-developer</div>
    </div>

    <ul class="social">
      <li class="social__item">
        <a class="social__link" href="#" target="_blank">
          <img class="social__img" src="assets/images/social/vk.svg" alt="Александр Семеновский vk">
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#" target="_blank">
          <img class="social__img" src="assets/images/social/instagram.svg" alt="Александр Семеновский instagram">
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#" target="_blank">
          <img class="social__img" src="assets/images/social/linkedin.svg" alt="Александр Семеновский linkedin">
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#" target="_blank">
          <img class="social__img" src="assets/images/social/telegram.svg" alt="Александр Семеновский telegram">
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#" target="_blank">
          <img class="social__img" src="assets/images/social/github.svg" alt="Александр Семеновский github">
        </a>
      </li>
    </ul>

    <div class="profile__text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores quam assumenda perspiciatis nostrum, provident suscipit beatae voluptatibus, possimus tempora ullam doloremque, neque quidem. Ratione consectetur voluptates quas! Voluptas, praesentium est?
      </p>
    </div>
    <!-- ./profile -->
  </div>
  <!-- ./sidebar__content -->

  <div class="sidebar__footer">
    <a class="btn btn--red" href="#">Мои работы</a>
    <button class="btn btn--blue" type="button">Написать мне</button>
  </div>
</aside>